*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/.idea/misc.xml
/.idea/vcs.xml
/.idea
.idea
/.idea/gradle.xml
/apk
*.apk

#本地配置文件
